# This workflow will install dependencies, create coverage tests and run Pytest Coverage Comment
# For more information see: https://github.com/MishaKav/pytest-coverage-comment/
name: after_push

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          pip install --no-dependencies flake8 pytest coverage pytest-cov
          pip install --no-dependencies -r requirements.txt

      - name: Build coverage file
        run: |
          python -m pytest --cov=./ --cov-report=xml
        env:
          OPENAI_KEY: ${{ secrets.OPENAI_KEY }}
          QCLOUD_SECRET_ID: ${{ secrets.QCLOUD_SECRET_ID }}
          QCLOUD_SECRET_KEY: ${{ secrets.QCLOUD_SECRET_KEY }}
      
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./coverage/reports/
          env_vars: OS,PYTHON
          fail_ci_if_error: true
          files: ./coverage1.xml,./coverage2.xml,!./cache,./coverage.xml
          flags: unittests
          name: GeneralQBOT
          verbose: true
  # build:
  #   runs-on: ubuntu-latest

  #   steps:
  #   - uses: actions/checkout@v2

  #   - name: Package Application
  #     uses: JackMcKew/pyinstaller-action-windows@main
  #     with:
  #       path: ./
    
  #   - name: Package Application
  #     uses: JackMcKew/pyinstaller-action-linux@main
  #     with:
  #       path: ./

  #   - uses: actions/upload-artifact@v2
  #     with:
  #       name: dev_AutoBuild_${{ github.sha }}(created by $${{ github.actor }})
  #       path: |
  #         dist/windows
  #         dist/linux